<?xml version="1.0" encoding="UTF-8"?>
<db_xml>               
        <Ligne class_name="User" db_name="USER">
        	<Column class_name="firstName"	db_column="firstName"	type="string">	</Column>
        	<Column class_name="lastName"	db_column="lastName" 	type="string">	</Column>
        	<Column class_name="email"		db_column="email" 		type="string">	</Column>
        	<Column class_name="Id"			db_column="Id" 			type="int">		</Column>                       
        </Ligne>
  
        <Ligne class_name="Dvd" db_name="DVD">
            <Column class_name="titre" 		db_column="titre" 		type="String">	</Column>
            <Column class_name="description" db_column="description" type="string">	</Column>
            <Column class_name="prix" 		db_column="prix" 		type="int">		</Column>
            <Column class_name="reduction"	db_column="reduction" 	type="int">		</Column>
            <Column class_name="Id" 		db_column="Id" 			type="int">		</Column>
         </Ligne>
                
         <Ligne class_name="K7" db_name="K7">
            <Column class_name="titre" 		db_column="titre" 		type="String">	</Column>
            <Column class_name="description" db_column="description" type="string">	</Column>
            <Column class_name="prix" 		db_column="prix" 		type="int">		</Column>
            <Column class_name="reduction"	db_column="reduction" 	type="int">		</Column>
            <Column class_name="Id" 		db_column="Id" 			type="int">		</Column>
         </Ligne>
                
         <Ligne class_name="Game" db_name="GAME">
            <Column class_name="titre" 		db_column="titre" 		type="String">	</Column>
            <Column class_name="description" db_column="description" type="string">	</Column>
            <Column class_name="prix" 		db_column="prix" 		type="int">		</Column>
            <Column class_name="reduction"	db_column="reduction" 	type="int">		</Column>
            <Column class_name="Id" 		db_column="Id" 			type="int">		</Column>
         </Ligne>

</db_xml>