<?xml version="1.0" encoding="UTF-8"?>
<db_xml>
        <objet class_name="User" db_name="USER">
        	<column class_name="firstName"	db_column="firstName"	type="string">	</column>
        	<column class_name="lastName"	db_column="lastName" 	type="string">	</column>
        	<column class_name="email"		db_column="email" 		type="string">	</column>
        	<column class_name="userId"		db_column="userId" 		type="int">		</column>                       
        </objet>
                
        <objet class_name="Dvd" db_name="DVD">
            <column class_name="titre" 		db_column="titre" 		type="String">	</column>
            <column class_name="description"db_column="description" type="string">	</column>
            <column class_name="prix" 		db_column="prix" 		type="int">		</column>
            <column class_name="reduction"	db_column="reduction" 	type="int">		</column>
            <column class_name="dvdId" 		db_column="dvdId" 		type="int">		</column>
         </objet>
                
         <objet class_name="K7" db_name="K7">
            <column class_name="titre" 		db_column="titre" 		type="String">	</column>
            <column class_name="description"db_column="description" type="string">	</column>
            <column class_name="prix" 		db_column="prix" 		type="int">		</column>
            <column class_name="reduction"	db_column="reduction" 	type="int">		</column>
            <column class_name="k7Id" 		db_column="k7Id" 		type="int">		</column>
         </objet>
                
         <objet class_name="Game" db_name="GAME">
            <column class_name="titre" 		db_column="titre" 		type="String">	</column>
            <column class_name="description"db_column="description" type="string">	</column>
            <column class_name="prix" 		db_column="prix" 		type="int">		</column>
            <column class_name="reduction"	db_column="reduction" 	type="int">		</column>
            <column class_name="gameId" 	db_column="gameId" 		type="int">		</column>
         </objet>
</db_xml>